/* Footer Starts Here
===================== */  
footer{
  border-top:5px solid #FFC013;
}
footer a{display:inline-block;}
.footer-logo{
  display:inline-block;
  width:80px;
}
footer h6{
  color:#333333;
  font-size:15px;
  font-weight:bold;
  margin-bottom:20px;
}
footer p{
  margin-bottom:0;
  font-size:16px;
  color:#333333;
  line-height:70px;
}
footer p a{
  color:#333333;
}
.footer-top{
  background-color:#FFFCF3;
  padding-top:50px;
  padding-bottom:30px;
}
.footer-nav,
.footer-nav li,
.footer-social-nav,
.footer-social-nav li{
  display:inline-block;
  position:relative;
  width:100%;
}
.footer-nav li a,
.footer-social-nav li a{
  color:#333333;
  margin-bottom:10px;
  position:relative;
}
.footer-social-nav li a{
  padding-left:25px;
}
.footer-social-nav li a img{
  position:absolute;
  top:2px;
  left:0;
}
.footer-social-nav li a img:nth-of-type(1),
.footer-social-nav li a:hover img:nth-of-type(2){
  opacity:1;
}
.footer-social-nav li a:hover img:nth-of-type(1),
.footer-social-nav li a img:nth-of-type(2){
  opacity:0;
}

.footer-bottom{
  background-color:#ffffff;
}
.footer-bottom p{font-size:15px;}
@media (min-width:767px){
  .footer-nav li a:hover,
  .footer-social-nav li a:hover,
  footer p a:hover{
    color:#FFC013;
  }
  
}
@media (max-width:1200px){
  footer h6{max-width:80%;}
  footer p{ font-size:14px;}
  .footer-bottom p{font-size:14px;}
}
@media (max-width:991px){
  footer h6{max-width:100%;}
  .footer-top{padding-bottom:20px;}
  .footer-nav{margin-bottom:30px;}
  footer h6{font-size: 16px;}
  footer p{line-height: 60px;}
}
@media (max-width:767px){
  .footer-logo-container{text-align: center;margin-bottom:50px;}
  .footer-social-nav li a:hover img:nth-of-type(1),
  .footer-social-nav li a img:nth-of-type(1){
    opacity:1;
  }
  .footer-social-nav li a:hover img:nth-of-type(2),
  .footer-social-nav li a img:nth-of-type(2){
    opacity:0;
  }
  footer p a:hover{color:#333333;}
}
@media (max-width:575px){
  footer h6{font-size:18px;}
  .footer-nav{margin-bottom: 10px;}
  footer{text-align:center;}
  footer p{line-height:22px;}
  .footer-bottom{padding-top:20px;padding-bottom:15px;}
  .footer-bottom p{max-width: 370px;margin: 0 auto;}
}
/* Footer Ends Here
=================== */  