<div id="privacy-terms" class="inner-content container-fluid">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <h1><b>Fitcentr Cookie Policy
                    </b></h1>

<p>We use cookies to assist in delivering the services and to provide a positive and personalized user experience. Our cookies are used to identify unique visitors to our sites and to provide you with easy access to the services and navigation on the sites when you enter your login information on FitCentr’s sites. You may disable cookies within your browser, however please note that if you do this, you may not be able to use the full functionality of FitCentr’s sites. We may use other standard technologies to track your use of our site.</p>
                    
<p>
    We collect your personal information in order to:
Provide the services outlined on our website.
Share information with companies and coaches so that when you reach out to them, they can deliver the requested services.
Send information, respond to inquiries, and/or other requests or questions.
Process orders and to send information and updates pertaining to orders.
Send you additional information related to your product and/or service.
Market to our mailing list or continue to send emails to our clients after the original transaction has occurred.

</p>

<p>You may opt out or manage cookies at any time by visiting <a href="www.FitCentr.com/cookie-management">www.FitCentr.com/cookie-management</a> or using your browser’s privacy settings for cookie management. </p>
We use cookies to assist in delivering the services and to provide a positive and personalized user experience. Our cookies are used to identify unique visitors to our sites and to provide you with easy access to the services and navigation on the sites when you enter your login information on FitCentr’s sites. You may disable cookies within your browser, however please note that if you do this, you may not be able to use the full functionality of FitCentr’s sites. We may use other standard technologies to track your use of our site.
<p>

    FitCentr includes its Cookie Policy as a clause within its Privacy Policy. For more information about how FitCentr uses data please see our Privacy Policy posted at <a href=" www.FitCentr.com/privacy-policy"> www.FitCentr.com/privacy-policy</a>.  
</p>
                  
                </div>
            </div>
        </div>
    </div>
</div>

