<!-- Content Starts Here 
    ======================= -->
<div id="privacy-terms" class="inner-content agreement-text container-fluid">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12">

          <h1>FitCentr Subscriber Agreement</h1>
          <p>This
            Subscriber Agreement governs the payment for services and use of the www.FitCentr.com website, mobile
            apps, and all content, services, and products available at or through the website and apps (collectively,
            the &ldquo;services&rdquo;). It is an agreement between any subscription service account holder or
            subscription service account user and FitCentr, LLC (hereinafter &ldquo;FitCentr&rdquo;).</p>
          <p>FitCentr,
            LLC operates a website (www.FitCentr.com) and associated apps and services connecting people interested
            in physical fitness with trainers, gyms and other fitness related resources in their area.&nbsp;
          </p>
          <p>Users
            of the www.FitCentr.com website and associated apps and services can be categorized as
            follows:&nbsp;</p>
          <ul class="circle-nav">
            <li>Visitors:
              Anyone who visits the FitCentr website regardless of whether they are a registered user or not.
              &nbsp;
            </li>
            <li>Customer
              Users: Customer Users create or have created a free account with a profile and login credentials. The
              Customer User profile information allows FitCentr to better match the Customer User with activities
              and opportunities that will fit the Customer User&rsquo;s interests.&nbsp;
            </li>
            <li>Business
              Users: Business Users create or have created a subscription based account and are provided login
              credentials. Information entered by Business Users allows matching the services and opportunities
              offered by Business Users with potentially interested Customer Users.&nbsp;
            </li>
          </ul>
          <p>A
            Subscriber is any individual or business using the www.FitCentr.com website, mobile apps, sercices and
            products through subscription, whether paid, free or on a trial basis. The terms &ldquo;you&rdquo; and
            &ldquo;your&rdquo; refer to the Subscriber.&nbsp;</p>
          <h3>THIS
            AGREEMENT CONSTITUTES A BINDING CONTRACT ON YOU AND GOVERNS THE USE OF AND ACCESS TO THE SERVICES BY YOU,
            AGENTS AND END-USERS WHETHER IN CONNECTION WITH A PAID OR FREE TRIAL SUBSCRIPTION TO THE SERVICES.
          </h3>
          <p><b>By
              accepting this Agreement, either by creating a subscription based business user account, accessing or
              using a Service, or authorizing or permitting any Agent or End-User to access or use a Service, you agree
              to be bound by this Agreement as of the date of such access or use of the Service (the &ldquo;Effective
              Date&rdquo;). If you are entering into this Agreement on behalf of a company, organization or another
              legal entity (an &ldquo;Entity&rdquo;), you are agreeing to this Agreement for that Entity and
              representing to FitCentr that you have the authority to bind such Entity and its Affiliates to this
              Agreement, in which case the terms &ldquo;Subscriber,&rdquo; &ldquo;You,&rdquo; &ldquo;Your&rdquo; or a
              related capitalized term herein shall refer to such Entity and its Affiliates. If you do not have such
              authority, or if you do not agree with this Agreement, you must not use or authorize any use of the
              Services.</b></p>
          <p>By
            creating a subscription based account and / or using the FitCentr website and apps in a manner intended
            for Business User subscription accounts, you consent and agree to the terms set forth below.&nbsp;
          </p>
          <p>The
            website, app, and services are owned and operated by FitCentr, LLC (&ldquo;FitCentr&rdquo;) and are
            offered subject to your acceptance without modification of all of the terms and conditions contained
            herein and all other operating rules, policies (including, without limitation,
            FitCentr&apos;s&nbsp;<span style="color:#ff0000">Privacy
              Policy&nbsp;</span>and&nbsp; <span style="color:#ff0000">Terms
              of Service</span>)
            and procedures that may be published from time to time on this site by FitCentr (collectively, the
            &quot;Agreement&quot;).</p>
          <p>Please
            read this Agreement carefully before subscribing to, accessing or using our services. By accessing or
            using any part of our services, you agree to become bound by the terms and conditions of this agreement.
            The subscription services are available only to individuals who are at least 18 years old.</p>
          <ul class="number-list">
            <li>
              <span>1.</span>
              Your www.FitCentr.com Account and Services.<br>
              If you subscribe to the FitCentr services, you are responsible for maintaining the security of your
              account
              information, you are fully responsible for all activities that occur under the account, you are
              responsible for any content you upload to your account, and any other actions taken in connection with
              the services. You must not describe content or information that is misleading or unlawful, including in a
              manner intended to trade on the name or reputation of others, and FitCentr may change or remove any
              content that it considers inappropriate, misleading or unlawful, or otherwise likely to cause FitCentr
              liability. You must immediately notify FitCentr of any unauthorized uses of your intellectual property,
              image, or any other breaches of security. FitCentr will not be liable for any acts or omissions by you,
              including any damages of any kind incurred because of such acts or omissions.
            </li>
          </ul>
          <ul class="number-list">
            <li>
              <span>2.</span> Services Provided.<br>
              FitCentr is responsible for providing you with the scope of services as detailed on their website.
              <ul class="circle-nav">
                <li>Access to Services.<br>
                  We will make the Services and your Service Data available to you pursuant to this Agreement and the <i
                    style="color: #ff0000;">Terms
                    of Service</i> Agreement.
                  We will use commercially reasonable efforts to make the Services available 24 hours a day, 7 days a
                  week,
                  except (a) during Planned Downtime; and (b) Force Majeure Events.
                </li>
                <li>Modifications.<br>
                  You
                  acknowledge that FitCentr may modify the features and functionality of the Services during the
                  Subscription Term. FitCentr shall provide you with commercially reasonable advance notice of any
                  deprecation of any material feature or functionality.
                </li>

                <li>Additional Features.<br>
                  FitCentr
                  will notify you of applicable Supplemental Terms and/or alternate agreement prior to your activation
                  of
                  any Additional Features. The activation of any Additional Features by you in your Account will be
                  considered acceptance of the applicable Supplemental Terms or alternate agreement where applicable.
                  Additional Features activated during a Subscription Period expire and require renewal at the end of
                  the
                  current Subscription Period.
                </li>
              </ul>
            </li>
          </ul>
          <ul class="number-list">
            <li>
              <span>3.</span> Payment and Renewal.<br>
              FitCentr is responsible for providing you with the scope of services as detailed on their website.
              <ul class="circle-nav">
                <li>General Terms.<br>
                  By selecting a product or service, you agree to pay FitCentr the monthly subscription fees indicated
                  (additional payment terms may be included in other communications). Subscription payments will be
                  charged
                  on a pre-pay basis on the day you sign up for a service and will cover the use of that service for a
                  monthly &nbsp;subscription period as indicated. Payments are not refundable.
                </li>
                <li>Subscription Fees.<br>
                  The subscription fees are listed on the FitCentr website and may change from time to time.
                  Subscription
                  Fees vary depending on type of Subscriber. Customer Users do not pay a subscription fee to hold an
                  account.
                  FitCentr will notify you by email in the event FitCentr changes subscription rates or any other
                  material terms related to your subscription to or use of the www.FitCentr.com website and apps.
                </li>

                <li>Subscription Period.<br>
                  The Subscription Period is selected by you when you enroll in subscription services. Unless your
                  Account
                  and subscription to a Service is terminated in accordance with the terms of this Agreement your
                  subscription to a Service (including any and all enrolled Additional Services) will renew for a
                  Subscription Period
                  equivalent in length to the then expiring Subscription Period and (b) the Subscription Charges
                  applicable to your subsequent Subscription Period shall be FitCentr&rsquo;s standard Subscription
                  Charges for the
                  applicable Service Plan and Additional Services at the time such subsequent Subscription Period
                  commences. FitCentr reserves the right to notify you of changes in rates prior to automatic renewal of
                  your Subscription Period. Subscription to services is pre-paid for the Subscription Period and
                  non-refundable once purchased for the duration of the Subscription Period.
                </li>

                <li>Automatic Renewal.<br>
                  Unless you notify FitCentr before the end of the applicable subscription period that you want to
                  cancel a subscription, your subscription will automatically renew and you authorize us to collect the
                  then-applicable monthly subscription fee for such subscription and Additional Services (as well as any
                  taxes) using any credit card or other payment mechanism we have on record for you.
                </li>

                <li>Cancellation of Subscription or Additional Services.<br>
                  Renewal of Subscription or renewal of Additional Services can be canceled at any time through your
                  Business
                  Dashboard or by submitting your request to FitCentr in writing via email to Support@FitCentr.com. You
                  may not downgrade your Subscription Plan or Additional Services during your current Subscription
                  Period as
                  these are non-refundable and prepaid. If you desire to downgrade your Subscription for a subsequent
                  Subscription Period, you must provide www.FitCentr.com reasonable advance written notice prior to the
                  end of your then current Subscription Period. Downgrading your Subscription Plan may cause loss of
                  content, features, or capacity of the Service as available to you under your Account, and FitCentr
                  does not
                  accept any liability for such loss.
                </li>
              </ul>
            </li>
          </ul>
          <ul class="number-list">
            <li>
              <span>4.</span> Use of Data<br>
              <b>FitCentr may collect contact information, user location data, subscription data, usage statistics,
                transactional
                data and potentially all other forms of data listed in the FitCentr <i style="color: #ff0000;">Privacy
                  Policy</i>.
                FitCentr will never sell your data to a third party and will use reasonable care to protect your data as
                described in the FitCentr <i style="color: #ff0000;">Privacy
                  Policy</i>.
                FitCentr will not share Your Service Data with third parties, except as permitted by
                the <i style="color: #ff0000;">Privacy Policy</i> and
                in order to provide, secure and support FitCentr Services. FitCentr has implemented technology, internal
                processes, policies and procedures that comply with the General Data Protection Regulation (EU GDPR),
                California Online Privacy Protection Act (CalOPPA) and California Consumer Privacy Act (CCPA). For more
                information please view the FitCentr <i style="color: #ff0000;">Privacy
                  Policy.</i></b>
            </li>
          </ul>
          <ul class="number-list">
            <li>
              <span>5.</span> Communications<br>
              <b>After
                initial subscription to FitCentr, you will receive a &lsquo;Welcome&rsquo; email. FitCentr sends
                additional communications to Subscribers for marketing, subscription management, account information,
                important announcements and changes to terms, conditions and policies. You may opt out of receiving
                marketing emails in the Business Dashboard section of the www.FitCentr.com website. You may also opt out
                of marketing emails by clicking unsubscribe on the bottom of marketing emails sent to you. You may not
                opt out of other classes of emails sent by FitCentr and agree to the receipt of these emails through
                your
                use of www.FitCentr.com, its apps and services.</b>
            </li>
          </ul>
          <ul class="number-list">
            <li>
              <span>6.</span> Responsibility of Website Visitors and FitCentr Subscribers.<br>
              <ul class="circle-nav">
                <li>
                  You agree to abide by the terms of this Agreement, the FitCentr
                  <i>Terms of Service</i> and the FitCentr <i>Privacy Policy</i> and
                  any additional Policies which may from time to time be communicated to you directly or posted on
                  www.FitCentr.com.
                </li>
                <li>
                  Login Management.<br>
                  You agree to abide by the terms of this Agreement, the FitCentr
                  Access to and use of the Services is restricted to the specified number of individuals permitted under
                  your subscription to the applicable Service. You agree and acknowledge that login credentials cannot
                  be shared or used by more than one (1) individual for individual subscriptions or one (1) entity if an
                  entity subscription. You are responsible for maintaining the confidentiality of all login information
                  for your account. You shall not use the API or any Software in such a way to circumvent applicable
                  Service Plan restrictions or licensing restrictions that are enforced in the Service user interface.
                  Should FitCentr discover that your use of a FitCentr Service is not in compliance with this Agreement
                  and the limitations on number of Subscription users, FitCentr reserves the right to charge you, and
                  you hereby agree to pay for said usage in addition to other remedies available to FitCentr.
                </li>
                <li>
                  Compliance.<br>
                  As between you and FitCentr, you are responsible for compliance with the provisions of this Agreement
                  for any and all activities that occur under your Account, which FitCentr may verify from time to time.
                  Without limiting the foregoing, you are solely responsible for ensuring that your use of the Services
                  is compliant with all applicable laws and regulations as well as any and all privacy policies,
                  agreements or other obligations.
                </li>
                <li>
                  System Requirements. <br>
                  A high-speed internet connection is required for proper transmission of the Services. You are
                  responsible for procuring and maintaining the network connections that connect your network to the
                  Services, including, but not limited to, browser software that supports protocols used by FitCentr.
                  FitCentr is not responsible for notifying you of any upgrades, fixes or enhancements to any such
                  software or for any compromise of data, including service data, transmitted across computer networks
                  or telecommunications facilities (including but not limited to the internet) which are not owned,
                  operated or controlled by FitCentr. FitCentr assumes no responsibility for the reliability or
                  performance of any connections as described in this Section.
                </li>
                <li>
                  Competitive Use. <br>
                  You may not access the Services if you are a direct competitor of FitCentr, except with FitCentr’s
                  express prior written consent. You may not access the Services for competitive purposes.
                </li>
              </ul>
            </li>
          </ul>
          <ul class="number-list">
            <li>
              <span>7.</span> Changes. <br>
              FitCentr reserves the right, at its sole discretion, to modify or replace any part of this Agreement. It
              is your responsibility to check this Agreement periodically for changes. If you have provided a current
              email address, FitCentr will provide you with a notice of any changes to this Agreement. Your continued
              use of or access to the Website or App following the posting of any changes to this Agreement constitutes
              acceptance of those changes. FitCentr may also, in the future, offer new services and/or features through
              the Website or App (including, the release of new tools and resources). Such new features and/or services
              shall be subject to the terms and conditions of this Agreement.
            </li>
          </ul>
          <ul class="number-list">
            <li>
              <span>8.</span> Termination. <br>
              FitCentr may terminate your access to all or any part of the Website at any time, with or without cause,
              with or without notice, effective immediately. If you wish to terminate your account, you may simply
              discontinue using the Website and services and comply with the subscription termination requirements in
              Paragraph 3 of this Agreement.
            </li>
            <li>
              Notwithstanding the foregoing, if you have a paid services account, such account can only be terminated by
              FitCentr during a
              Subscription Period if you materially breach this Agreement or the <i>Terms of Service</i> Agreement and
              fail to cure such breach
              within thirty (30) days from FitCentr's notice to you of the breach. FitCentr reserves the right to cancel
              Service at the
              end of a subscription period. All provisions of this Agreement which by their nature should survive
              termination shall
              survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity
              and limitations
              of liability.
            </li>
          </ul>
          <ul class="number-list">
            <li>
              <span>9.</span>
              DISCLAIMER
              OF WARRANTIES. THE WEBSITE IS PROVIDED &quot;AS IS.&quot; FITCENTR AND ITS SUPPLIERS AND LICENSORS
              HEREBY DISCLAIM ALL WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, THE
              WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. NEITHER
              FITCENTR NOR ITS SUPPLIERS AND LICENSORS, MAKES ANY WARRANTY THAT THE WEBSITE WILL BE ERROR FREE OR
              THAT ACCESS THERETO WILL BE CONTINUOUS OR UNINTERRUPTED. YOU UNDERSTAND THAT YOU DOWNLOAD FROM, OR
              OTHERWISE OBTAIN CONTENT OR SERVICES THROUGH, THE WEBSITE AT YOUR OWN DISCRETION AND
              RISK.
            </li>
          </ul>
          <ul class="number-list">
            <li>
              <span>10.</span>
              LIMITATION OF LIABILITY. IN NO EVENT WILL FITCENTR, OR ITS SUPPLIERS OR LICENSORS, BE LIABLE WITH RESPECT
              TO ANY SUBJECT MATTER OF THIS AGREEMENT UNDER ANY CONTRACT, NEGLIGENCE, STRICT LIABILITY OR OTHER LEGAL OR
              EQUITABLE THEORY FOR: (I) ANY SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES; (II) THE COST OF PROCUREMENT
              FOR SUBSTITUTE PRODUCTS OR SERVICES; (III) FOR INTERRUPTION OF USE OR LOSS OR CORRUPTION OF DATA; OR (IV)
              FOR ANY AMOUNTS THAT EXCEED THE FEES PAID BY YOU TO FITCENTR UNDER THIS AGREEMENT DURING THE TWELVE (12)
              MONTH PERIOD PRIOR TO THE CAUSE OF ACTION. FITCENTR SHALL HAVE NO LIABILITY FOR ANY FAILURE OR DELAY DUE
              TO MATTERS BEYOND THEIR REASONABLE CONTROL. THE FOREGOING SHALL NOT APPLY TO THE EXTENT PROHIBITED BY
              APPLICABLE LAW.
            </li>
          </ul>
          <ul class="number-list">
            <li>
              <span>11.</span> General Representation and Warranty. <br>
              You represent and warrant that (i) your use of the Website and Apps will be in strict accordance with the
              FitCentr
              <i>Privacy Policy</i>, with this Agreement, the <i>Terms of Service</i> Agreement and with all applicable
              laws and
              regulations (including without limitation any local laws or regulations in your country, state, city, or
              other governmental area, regarding online conduct and acceptable content, and including all applicable
              laws regarding the transmission of technical data exported from the United States or the country in which
              you reside) and (ii) your use of the Website will not infringe or misappropriate the intellectual property
              rights of any third party.
            </li>
          </ul>
          <ul class="number-list">
            <li>
              <span>12.</span> Indemnification. <br>
              You agree to indemnify and hold harmless FitCentr, its contractors, and its licensors, and their
              respective directors, officers, employees and agents from and against any and all claims and expenses,
              including attorneys' fees, arising out of your use of the Website, including but not limited to your
              violation of this Agreement.
            </li>
          </ul>
          <ul class="number-list">
            <li>
              <span>13.</span> Miscellaneous. <br>
              This Agreement and the <i>Terms of Service</i> constitute the entire agreement between FitCentr and you
              concerning the subject matter hereof, and they may only be modified by the posting by FitCentr of a
              revised version. Except to the extent applicable law, if any, provides otherwise, this Agreement, any
              access to or use of the Website will be governed by the laws of the state of South Carolina, U.S.A.,
              excluding its conflict of law provisions.
            </li>
            <li>If any part of this Agreement is held invalid or unenforceable, that part will be construed to reflect
              the parties' original intent, and the remaining portions will remain in full force and effect. A waiver by
              either party of any term or condition of this Agreement or any breach thereof, in any one instance, will
              not waive such term or condition or any subsequent breach thereof. You may assign your rights under this
              Agreement to any party that consents to, and agrees to be bound by, its terms and conditions; FitCentr may
              assign its rights under this Agreement without condition. This Agreement will be binding upon and will
              inure to the benefit of the parties, their successors and permitted assigns.</li>
          </ul>
          <p dir="ltr" style="line-height:1.295;text-align: justify;margin-top:0pt;margin-bottom:8pt;"><span
              style="font-size:11pt;font-family:'Khula', sans-serif;color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Last
              Update: September 26, 2020</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Content Ends Here 
    ====================== -->